name: Mabl E2E Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Hiermee kun je de test ook handmatig starten vanuit GitHub
  workflow_dispatch:

jobs:
  mabl-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Stap 1: (Optioneel) Hier zou je normaal je app deployen naar een test-omgeving.
      # Voor nu gaan we ervan uit dat je test tegen een bestaande URL draait.

      # Stap 2: Draai de Mabl tests
      - name: Run Mabl Tests
        uses: mablhq/github-run-tests-action@v1
        env:
          MABL_API_KEY: ${{ secrets.MABL_API_KEY }}
        with:
          application-id: HFHz0DQf3ds8SbeFUhJNmw-a # Te vinden in Mabl URL
          environment-id: vmYDf9R4f4k6GqcBtlc5bg-e # Optioneel, om specifiek op 'staging' te testen
